<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C:\Users\nnkah\Desktop\AVA\UI FINAL</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/css/user.css">
</head>

<body>
    <nav class="navbar navbar-default custom-header">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><a class="navbar-brand navbar-link" href="#">Company<span>logo </span> </a></div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav links">
                    <li role="presentation"><a href="#">HOME </a></li>
                    <li role="presentation"><a href="#">ABOUT US</a></li>
                    <li role="presentation"><a href="#"> STUDENTS</a></li>
                    <li role="presentation"><a href="#" class="custom-navbar">MEMBERSHIP</a></li>
                </ul>
                <ul class="nav navbar-nav links">
                    <li role="presentation"><a href="#">VOLUNTEERS </a></li>
                    <li role="presentation"></li>
                    <li role="presentation"></li>
                    <li role="presentation"></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"> <span class="caret"></span><img src="assets/img/avatar.jpg" class="dropdown-image"></a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="#">Settings </a></li>
                            <li><a href="#">Payments </a></li>
                            <li class="active"><a href="#">Logout </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="">
        <h1 class="text-uppercase text-center text-success show hero-title"><strong>WELCOME TO JOADAH CONSULTS LTD</strong></h1>
        <h1 class="text-uppercase text-center text-success show hero-title"><strong>INTERNSHIP OPORTUNITIES</strong></h1>
        <p class="text-center"><strong>ENGINEERS WITH INTEGRITY</strong></p>
        <p class="text-center"><a class="btn btn-primary btn-lg hero-button" role="button" href="#">APPLY NOW</a></p>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
